{% include 'admin/admin_header.html' %}
<center>
<h1>update facility</h1>
    <form method="post">
        <div class="white-bg">
    <table>

        <tr>
            <td><input type="hidden" name="id" value="{{data[0]['fec_id']}}"></td>
        </tr>
        <tr>
            <td>TITLE:</td>
            <td><input type="text" name="title" value="{{data[0]['title']}}"></td>
        </tr>
        <tr>
            <td>DESCRIPTION:</td>
            <td><input type="text" name="desc" value="{{data[0]['description']}}"></td>
        </tr>
        <tr>
            <td></td>

            <td><input type="submit" name="update" value="UPDATE"></td>
        </tr>
    </table>
            </div>
        </form>
</center>

{% include 'admin/admin_footer.html' %}